

/* 1.size : width, height */
.box{
    border: 1px solid red;
    padding : 10px;
    margin-bottom: 100px;
}

.widthheight{
    width: 300px; height: 300px;
}

.minwidth{
    min-width: 600px; /*최소 가로 사이즈 600px 설정*/
    /* 최대 가로 사이즈는 설정 없으므로 100%
       즉] 화면이 600px 보다 크면 100% 600px 작아지면 600px 고정 */
}

.maxwidth{
    max-width: 600px; /*최대 가로 사이즈 600px 설정*/
}
    /*최소 가로 사이즈는 설정이 없으므로 100%
    즉] 화면이 600px 보다 작으면 100%, 600px 크면 600px 고정 */

.minheight{
    width:200px;
    min-height: 200px;
    /* 최대 세로 사이즈는 설정이 없으므로 100%
       즉] 내용의 높이가 100px 보다 작으면 100px 고정, 크면 100% 늘어남*/
}

.maxheight{
    width:200px;
    max-height: 100px;
    /* 즉] 내용의 높이가 100xp 보다 커지면 100px 고정, 작으면 100%*/
    overflow: auto;
}