
*{ padding: 0px; margin: 0px; } /* 기본 여백 제거 */
*{ box-sizing: border-box; } /* 구역 사이즈를 테두리까지 기준 */
a{ 
    color : black;
    text-decoration: none; 
}
li{ list-style-type: none;}  


/*==========헤더==========*/
#header{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
/*========헤더 로고 =======*/
.head-logo{
    font-weight: bold;
    font-size:20px;
}
.head-logo > span{
    color: blue;
}

/*=======헤더 메뉴=========*/
.head-list{
    display: flex;
    font-size: 15px;
}

#wrap > #header > .head-list >li{
    margin: 0px 15px;
}

/*메인 이미지*/
.main-img{
    text-align: center;
    width: 100%;
}

/*메인1 본문*/

.main{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}
.main-content{
    display: flex;
    justify-content: space-between;
}
.main-content span{
    font-weight: bold;
}

.main-content2{
    background-color: #eeeeee;
    

}
/*메인2 본문*/
.main-bg{
    width: 1280px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;

}
.product-list > li> img{
    width: 100px;
}

.main-content2 > .main-bg > .product-list > li > span{
    font-weight: bold;
}

/*푸터*/
#footer-bg{
    background-color: #292c32;
}
#footer{
    width: 1280px;
    height : 150px;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#footer-memu{
    align-items: center;
}
.info{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    font-size:12px;
}

#footer-menu > .info >li >a{
    color: white;
}
.info > li{
    margin-right: 5px;
}

.address{
    font-size : 12px;
}


.icon{
    display:flex;
}

.icon > li{
    margin-right: 10px;
}