.box{
    border: 1px solid red;
    width: 100px;
}

.flexbox1{
    border: 1px solid blue;
    display: flex;
    width: 250px;
    flex-wrap: nowrap;
/*
nowarp : 만일 하위요소들이 부모 요소의 크기보다 커지면 하위요소 자동크기 조정
*/
}

.flexbox2{
    border: 1px solid blue; width :250px;
    display: flex;
    flex-wrap: wrap;
    /*
    wrap : 만일 하위요소들이 부모의 크기보다 커지면 자동 줄 바꿈
    */    
}

.flexbox3{
    border: 1px solid blue; width: 250px;
    display: flex;
    flex-wrap: wrap-reverse; /* 반대로 */
}

.flexbox4{
    border: 1px solid blue; width: 250px;
    display: flex;
    flex-direction: row;
}

.flexbox5{
    border: 1px solid blue; width: 250px;
    display: flex;
    flex-direction: column;
}